<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="menu logo-nav">
        <a href="{{ url_for('index') }}" class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo de SENASHOP">

        </a>
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          <ul>
            <li><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
            <li><a href="{{ url_for('productos') }}">Productos</a></li>
            


            <li class="search-icon">
              <input type="search" placeholder="Search">
              <label class="icon">
                <span class="fas fa-search"></span>
              </label>
            </li>
            <li class="car">
              <svg class="bi bi-cart3" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>
              <div id="carrito" class="dropdown-menu">
                <table id="lista-carrito" class="table">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <a href="#" id="vaciar-carrito" class="button-vaciar">Vaciar Carrito</a>
                <a href="# {{ url_for('carrito') }}" id="procesar-pedido" class="button-pedido">Procesar Compra</a>
              </div>
            </li>
            {% if usuario %}
            <li>Hola, {{ usuario }}</li>
            <li><a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
          {% else %}
            <li><a href="{{ url_for('login') }}">Iniciar sesión</a></li>
          {% endif %}
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="modal" id="modal">
        <div class="modal-content">
          <img src="" alt="" class="modal-img" id="modal-img">
        </div>
        <div class="modal-boton" id="modal-boton">X</div>
      </div>
      
      <!-- Sección de compras basado en historial -->
      <section class="historial-section">
        <h2>Compras Basado en tu historial</h2>
        <div class="historial">
          {% for producto in historial_recomendaciones %}
          <div class="producto">
            <img src="{{ producto['url'] }}" alt="{{ producto['nombre'] }}">
            <h4>{{ producto['nombre'] }}</h4>
            <p>Precio: {{ producto['precio'] }}</p>
          </div>
          {% endfor %}
        </div>
      </section>
      
      <!-- Sección de todos los productos -->
      <section class="productos-section">
        <h2>Productos Disponibles</h2>
        <div class="container-productos" id="lista-productos">
          {% for producto in productos %}
          <div class="card">
            <img src="{{ producto['url'] }}" class="card-img" alt="{{ producto['nombre'] }}">
            <h5>{{ producto['nombre'] }}</h5>
            <p>ID: {{ producto['id'] }}</p>
            <p>Precio: S/<small class="precio">{{ producto['precio'] }}</small></p>
            <p>Sexo: {{ producto['sexo'] }}</p>
            <a href="{{ url_for('agregar_al_carrito', producto_id=producto['id']) }}" class="button agregar-carrito" data-id="{{ producto['id'] }}">Comprar</a>

                     

          </div>
          {% endfor %}
        </div>
      </section>
    </main>
    
    

    <footer class="footer-section">
      <div class="copyright-area">
          <div class="container-footer">
              <div class="row-footer">
                  <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                      <div class="copyright-text">
                          <p>Copyright &copy; 2024, todos los derechos reservados <a href="{{ url_for('index') }}">SENASHOP</a></p>
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                      <div class="footer-menu">
                          <ul>
                              <li><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
                              <li><a href="{{ url_for('productos') }}">Productos</a></li>
                              <li><a href="{{ url_for('index') }}">Contacto</a></li> <!--por ahora hasta crear el login--> 
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </footer> 

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/carrito.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pedido.js') }}"></script>
    <script src="{{ url_for('static', filename='js/compra.js') }}"></script>
    
  </body>
</html>


